* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 200px;
  justify-content: center;
  padding: 200px;
}

.square {
  background: chartreuse;
  border: 20pxpx solid #b4adad;
  float: left;
  font-size: 46px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33%;
}

.board-row:after {
  clear: both;
  content: '';
  display: table; 

}

.status {
  margin-bottom: 10px;
  font-size: 36px;
}

